.efectoimg:hover{
    filter: opacity(50%);
}

.lista{
    list-style: none;
    padding: 0px;
}


@media all and (max-width: 576px){
    .img-responsive{
        height: 250px;
    }
    .centrar{
        text-align: center;
    }
}